html,
body {
  padding: 0;
  margin: 0;
}

/* Previous tool css */
.App {
  text-align: center;
}



/* HomePage CSS */
.homePage {
  background: #000000;
  min-height: 95.6vh;
  display: grid;
}
.center-div {
  align-self: center;
  margin: auto;
}
.homePageImg {
  margin-top: 1em;
  max-width: 100%;
  width: 100%;
  margin-top: -10em;
}
.demoButton {
  color: #fff;
  background-color: #309486;
  border-color: #6c757d;
  padding: 15px;
  border: 0;
  width: 180px;
  margin: 1em;
}
.demoButton:hover {
  color: #fff;
  background-color: #309486;
  border-color: #545b62;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
.demoLink:hover {
  color: #ffffff;
  text-decoration: none;
}



/* Header CSS */
.headerList {
  display: -webkit-inline-box !important;
}
.headerButton{
  background: transparent;
  color: white;
  border-left: 1px solid #6b757d !important;
  border: 0px transparent;
  margin-right: 7px;
}
.navbar{
  background: #000000;
  color: #ffffff;
}




/* Annotation-Page CSS */
.side-nav-link {
  color: black;
}

.sideList {
  margin: 15px;
}

.imgs {
  width: 1100px;
  height: 750px;
}

.border-bottom-lightGrey {
  border-bottom: 1px solid #6c757d !important;
}


.border-left-lightGrey {
  border-left: 1px solid lightgray !important;
}

.border-right-lightGrey {
  border-right: 1px solid #6c757d !important;
}

.border-top-lightGrey {
  border-top: 2px solid lightgray;
}

.sideList:hover {
  border-bottom: 2px solid #309688;
          
}

.icon-theme-color {
  color: #309688 !important;
}
.btn_box{
   width: 170px;
}

.btn-class-none {
  border: none !important; 
  background: none !important;
}

.text-muted1 {
  color: #b0b3b5!important;
}

.makeStyles-header-7 {
  display: inline-flex !important;
  z-index: 10;
  position: relative;
  box-shadow: 0px 3px 8px rgba(0,0,0,.1);
  flex-shrink: 0;
  flex-direction: row;
  height: 4em !important;
  border-left: 1px solid#6c757d !important;
  border-right: 1px solid#6c757d !important;
}

.makeStyles-container-1 {
  height: 59em !important;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-height: 102vh;
  flex-direction: column;
  background-color: #000000!important;
  color: #ffffff;
}

.makeStyles-workspace-2 {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  flex-direction: row;
  background-color: #343a40!important;
  border-top: 1px solid #6c757d !important;
}

.makeStyles-fileInfo-8 {
  color: #424242;
  display: flex;
  flex-grow: 1;
  font-size: 18px !important;
  align-items: center;
  font-weight: bold;
  margin-right: 16px;
  padding-left: 16px;
}

 /* Header icons css */
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 16px !important;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}



/* icons fonts setting css */
.div-root-10 {
  font-weight: bold;
  font-size: 12px !important;
}

.svg-inline--fa {
  /* color: white !important; */
  /* color: #309486; */
  color: #000000;
}

.WithStyles\(ForwardRef\(Button\)\)-root-9 {
  width: 100px !important;
  margin: 2px;
}

.nav-listStyle-none {
  list-style: none !important;
}

.exit-btn {
  font-size: 18px;
}

.fa-sign-out:hover {
  color: #309688;
}

.MuiTypography-body2 {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  padding: 0em .7em !important;
}

.div-root-23 h1 {
  font-size: 15px !important;
  font-weight: 400;
}

.MuiButton-root {
  /* color: #f8f9fa !important; */
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  -webkit-appearance: media-sliderthumb !important;
}

.makeStyles-sidebarContainer-6 {
  background: black !important;
  color: white !important;
  width: 300px;
  height: 100%;
  z-index: 9;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  overflow-y: auto;
  border-left: 1px solid #6c757d;
  flex-shrink: 0;
  background-color: #f5f5f5;
}

.makeStyles-fileInfo-8 {
  color: #ffffff !important;
  display: flex;
  flex-grow: 1;
  font-size: 24px;
  align-items: center;
  font-weight: bold;
  margin-right: 16px;
  padding-left: 16px;
}

.makeStyles-iconTools-11 {
  background: black !important;
  border-right: 1px solid #6c757d !important;
}

.fullpage{
  background-color: #000000 !important;
  color:white;
  width: 100%;
   height: 100%;
  }